<div ng-if="article" class="article-container">
    <div class="article-image-big">
        <img src="{{article.imageUrl}}"/>
    </div>
    <div class="article-title">
        {{article.title}}
        <div>{{article.description}}</div>
        <div class="article-ratings">
            <rating ng-model="rate.value" max="5" ng-if="!voted" readonly="!isLoggedIn" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="saveRating()"></rating>
            <rating ng-model="averageRating" max="5" ng-if="voted" readonly="!isLoggedIn" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="saveRating()"></rating>
            <span ng-if="rate._id && isLoggedIn" class="alert alert-success">{{alreadyVoted}}</span>
            <button class="btn btn-default" ng-if="rate._id && isLoggedIn" ng-click="revote()">Переголосовать</button>
        </div>
    </div>
    <div class="article-body">
        <div ta-bind ng-model="article.body"></div>
    </div>
    <div ng-include="'app/article/comments.html'"></div>
</div>
<div ng-if="!article">
    <div ng-include="'components/error/nothingToShow.html'"></div>
</div>
