<div class="container" ng-controller="ArticleCtrl">
    <div class="col-md-12">
        <h3 ng-if="isUpdate">Обновление статьи</h3>
        <h3 ng-if="!isUpdate">Добавление новой статьи</h3>
        <div ng-show="isUpdate">Добавлена {{fromNow(newArticle.added)}} пользователем {{newArticle.addedBy.name}}</div>
        <div ng-show="newArticle.updatedBy && isUpdate">Последний раз обновлена {{fromNow(newArticle.updated)}} пользователем {{newArticle.updatedBy.name}}</div>
        <div ng-show="!newArticle.updatedBy && isUpdate">Ни разу не обновлялась</div>
        <form class="form" name="article" ng-submit="addArticle(form)" novalidate>
            <div class="form-group" ng-class="{ 'has-success': form.title.$valid && submitted,
                                            'has-error': form.title.$invalid && submitted }">
                <label>Заголовок</label>

                <input type="text" name="title" class="form-control" ng-model="newArticle.title"
                       placeholder="Сюда пишут заголовок..."
                       required/>

                <p class="help-block" ng-show="form.title.$error.required && submitted">
                    Нужно ввести заголовок
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
                                            'has-error': form.description.$invalid && submitted }">
                <label>Краткое описание</label>

                <input type="text" name="description" class="form-control" ng-model="newArticle.description"
                       placeholder="Краткое описание статьи..."
                       required/>

                <p class="help-block" ng-show="form.description.$error.required && submitted">
                    Нужно ввести краткое описание
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.imageUrl.$valid && submitted,
                                            'has-error': form.imageUrl.$invalid && submitted }">
                <label>Картинка статьи</label>

                <input type="text" name="imageUrl" class="form-control" ng-model="newArticle.imageUrl"
                       placeholder="URL картинки для статьи..."
                       required/>

                <p class="help-block" ng-show="form.imageUrl.$error.required && submitted">
                    Нужно ввести URL картинки
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.body.$valid && submitted,
                                            'has-error': form.body.$invalid && submitted }">
                <label>Содержимое статьи</label>
                <div text-angular ng-model="newArticle.body"></div>

                <p class="help-block" ng-show="form.body.$error.required && submitted">
                    Необходимо добавить содержимое статьи
                </p>
            </div>

            <p class="input-group">
                <input type="text" class="form-control" placeholder="Название нового тэга..." ng-model="tag">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="addTag()">Добавить таг</button>
                </span>
            </p>

            <label>Тэги:</label>
            <span ng-show="newArticle.tags.length < 1">Тэгов нет.</span>
            <ul>
                <li ng-repeat="tag in newArticle.tags">{{tag}} <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeTag($index)"></i></li>
            </ul>

            <div class="edit-article-buttons">
                <button class="btn btn-success" type="submit">
                    {{getSubmitText()}}
                </button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Отменить редактирование</button>
                <button class="btn btn-danger" type="button" ng-click="delete()" ng-if="isUpdate">Удалить статью</button>
            </div>
        </form>
    </div>
</div>
