.article-container {
    //position: absolute;
    //top: 51px;
    //bottom: 50px;
    //left: 20%;
    //right: 20%;
    color: #101010;
    background-color: #e7e7e7;//#fafafa;

    padding-top: 51px;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.article-title {
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.article-title div {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
}

.article-image-big {
    float: left;

    > img {
        max-width: 400px;
        max-height: 250px;
        padding: 25px;
    }
}

.article-body {
    padding: 275px 15px 40px;
}

.edit-article-buttons {
    margin-top: 15px;
}

.article-ratings {
    margin-top: 15px;
}

.article-average-rating {
    margin-top: 5px;
}
