<div class="comments" ng-controller="CommentCtrl">
    <h3 class="center-text">Комментарии</h3>
    <div class="comment-add-start" ng-if="me.name" ng-show="addDisabled" ng-click="startAddComment()">
        <span>Добавить свой очень важный комментарий</span>
    </div>
    <div class="comment-add" ng-if="me.name" ng-show="!addDisabled">
        <form class="form" name="comment" ng-submit="addComment(form)" novalidate>
            <div>
                <span>{{me.name}}:</span>
            </div>
            <div>
                <textarea type="text" class="form-control" ng-model="newComment.text" cols="40" rows="5" placeholder="Важный для всех комментарий пишут сюда..."></textarea>
            </div>
            <div>
                <button class="btn btn-success" type="submit" ng-disabled="addDisabled">
                    Добавить комментарий
                </button>
                <span class="alert alert-success" ng-show="addDisabled">Комментарий добавлен!</span>
            </div>
        </form>
    </div>
    <div class="comments-container">
        <div ng-repeat="comment in comments" class="comment">
            <span>{{comment.addedBy.name}} ({{moment(comment.added).calendar()}}):</span>
            <i class="glyphicon glyphicon-remove" ng-if="isAdmin" ng-click="removeComment(comment)"></i>
            <div class="comment-text">
                {{comment.text}}
            </div>
        </div>
    </div>

</div>
